<template>
    <div class="v-cart-item">
        <div class="v-cart-item__key">
            <p>{{ cart_item_data.article }}</p>
        </div>
        <img class="v-cart-item__image" :src="require('../../assets/images/' + cart_item_data.image)" alt="">
        <div class="v-cart-item__info">
            <p class="v-cart-item__name">{{ cart_item_data.name }}</p>
        </div>
        <div class="v-cart-item__desc">
            <p> {{ cart_item_data.description }} </p>
        </div>
        <div class="v-cart-item__quantity">
            <span>
                <span class="quantity__btn" @click="decrementItem">-</span>
                <span class="quantity__num">{{ cart_item_data.quantity }}</span>
                <span class="quantity__btn" @click="incrementItem">+</span>
            </span>
        </div>
        <div class="v-cart-item__price">
            <p>$ {{cart_item_data.quantity * cart_item_data.price}}</p>
        </div>
        <button class="delete-btn btn" @click="deleteFromCart">x</button>
    </div>
</template>

<script>
    export default{
        name: "v-cart-item",
        props:{
            cart_item_data: {
                type: Object,
                default(){
                    return {}
                }
            }
        },
        data(){
            return {}
        },
        computed:{
        },
        methods:{
            decrementItem(){
                this.$emit('decrement')
            },
            incrementItem(){
                this.$emit('increment')
            },
            deleteFromCart(){
                this.$emit('deleteFromCart')
            }
        },
        mounted(){
            const cartItemData = this.cart_item_data;
	        cartItemData.quantity = 1;
        },
        
    }
</script>

<style lang="scss">
@import './../../assets/styles/variables.scss';
    .v-cart-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        background-color: rgba(9,9,121,1);

        color:#fff;
        font-size: 20px;
        margin-bottom: 20px;
        height: 180px;
        &__image{
            width: 210px;
            height: 150px;
        }
        &__name{
            font-size: 30px;
        }
        &__desc{
            font-size: 20px;
            width:500px;
            text-align: left;
        }
        &__quantity{
            font-size: 30px;
        }
        
    }
    .quantity__num{
        padding: 7px 15px;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20%;
        color: #000;
    }
    .quantity__btn{
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px 10px;
        color:#000;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 100%;
        user-select: none;
        transition: background-color .2s;
    }
    .quantity__btn:hover{
        background-color: lightcyan;
    }
    .delete__btn{
        font-size: 50px;
    }
    
</style>