<template>
    <div class="v-cart">
        
        <v-popup
            v-if="isInfoPopupVisible"
            :popupTitle="Order"
            @closePopup="closeInfoPopup"
        >
            <div class="popupForm">
                <h2>Заполните форму для заказа</h2>
                <br>
                <form>
                    <label>Имя</label><br>
                    <input type="text" required>
                    <label>Адрес</label><br>
                    <input type="text" required>
                    <label>Телефон</label><br>
                    <input type="text" required>
                    <br>  
                <button class="btn" @click="doubleInfoPopup">Заказать</button>

                </form>
            </div>
            
        </v-popup>
        <v-popup
            v-if="isInfoPopupVisible2"
            :popupTitle="Order"
            @closePopup="closeInfoPopupTwo">
            <p class="success">Ваш заказ на сумму $ {{cartTotalCost}}, бы успешно офрмлен!</p>
        </v-popup>
        <h1>Cart</h1>
        <p v-if="CART == 0">There are no products in cart</p>
        <v-cart-item 
            v-for="(item, index) in CART"
            :key="item.article"
            :cart_item_data="item"
            @deleteFromCart="deleteFromCart(index)"
            @increment="increment(index)"
            @decrement="decrement(index)"
        />
        <div class="v-cart__total">
            <p class="total__name">Total: $ {{cartTotalCost}}</p>
            <button v-if="cartTotalCost" @click="showPopupInfo" class="cartbtn btn">Заказ</button>
        </div>
    </div>
</template>

<script>
import vCartItem from './v-cart-item.vue'
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
import vPopup from './../catalog/popup/v-popup.vue'

    export default{
        name: "v-cart",
        components:{
            vCartItem,
            vPopup
        },
        props: {
            cart_data:{
                type: Array,
                default(){
                    return []
                }
            }
        },
        data(){
            return {
                isInfoPopupVisible: false,
                isInfoPopupVisible2: false,
                Order: " ",
            }
        },
        computed: {
            ...mapGetters([
            'CART'
            ]),
            cartTotalCost(){
                let result = []

                if(this.CART.length){
                    for (let item of this.CART){
                        result.push(item.price * item.quantity);
                    }
                    result = result.reduce(function(sum, el){
                        return sum + el;
                    })
                    return result;
                } else{
                    return 0
                }
            }
        },   
        methods:{
            ...mapActions([
                'DELETE_FROM_CART',
                'INCREMENT_CART_ITEM',
                'DECREMENT_CART_ITEM'
            ]),
            increment(index){
                this.INCREMENT_CART_ITEM(index)
            },
            decrement(index){
                this.DECREMENT_CART_ITEM(index)
            },
            deleteFromCart(index){
                this.DELETE_FROM_CART(index)
            },
            productClick() {
                this.$emit('productClick', this.product_data.article)
            },
            showPopupInfo() {
                this.isInfoPopupVisible = true;
            },
            closeInfoPopup() {
                this.isInfoPopupVisible = false;
            },
            closeInfoPopupTwo() {
                this.isInfoPopupVisible2 = false;

            },
            doubleInfoPopup(){
                this.isInfoPopupVisible = false;
                this.isInfoPopupVisible2 = true;
            },
            addToCart(){
                this.$emit('addToCart',this.product_data)
            }
        }
    }
</script>

<style lang="scss">
@import './../../assets/styles/variables.scss';

    v-popup{
        color: #fff;
    }
    .success{
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    .popupForm{
        width: 100%;
        height: 100%;
        color: #fff;
    }
    .popupForm from {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    label{
        font-size: 20px;
    }
    input{
        font-size: 20px;
        margin-bottom: 10px;
        width: 90%;
    }
    .v-cart{
        &__total{
            position: fixed;
            bottom: 10px;
            right: 0;
            left: 0;
            padding:$padding*2 $padding *3;
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding-left: 800px;
            background-color: #fff;
        }
        &__total btn{
            font-size: 30px;
        }
    }
    .v-cart:last-child{
        margin-bottom: 50px;
    }
    .total__name{
        margin-right: $margin*2;
    }
</style>