<template>
    <div class="v-catalog-item">

        <v-popup
            v-if="isInfoPopupVisible"
            rightBtnTitle="Add to cart"
            :popupTitle="product_data.name"
            @closePopup="closeInfoPopup"
            @rightBtnAction="addToCart"
        >
        <br>
        <img class="v-catalog-item__image" :src="require('../../assets/images/' + product_data.image)" alt="img">
        <br>
        <p class="v-catalog-item__desc">{{product_data.description}}</p>
        <br>
        <p class="v-catalog-item__price">Price: ${{product_data.price}}</p>
        <br>
        <button 
            class="v-catalog-item__add_to_cart_btn btn" 
            @click="addToCart"
        >Add to cart
        </button>
        </v-popup>

        <button @click="showPopupInfo"><img class="v-catalog-item__image" :src="require('../../assets/images/' + product_data.image)" alt="img"></button>
        <p class="v-catalog-item__name">{{product_data.name}}</p>
        <p class="v-catalog-item__desc">{{product_data.description}}</p>
        <br>
        <p class="v-catalog-item__price">Price: ${{product_data.price}}</p>
        <button 
            class="v-catalog-item__add_to_cart_btn btn" 
            @click="addToCart"
        >Add to cart
        </button>
    </div>
</template>

<script>
import vPopup from './popup/v-popup.vue'
    export default{
        name: "v-catalog-item",
        props: {
            product_data:{
                type: Object,
                default(){
                    return{}
                }
            }
        },
        components:{
            vPopup
        },
        data(){
            return {
                isInfoPopupVisible: false,
            }
        },
        computed:{
            
        },
        methods:{
            productClick() {
                this.$emit('productClick', this.product_data.article)
            },
            showPopupInfo() {
                this.isInfoPopupVisible = true;
            },
            closeInfoPopup() {
                this.isInfoPopupVisible = false;
            },
            addToCart(){
                this.$emit('addToCart',this.product_data)
            }
        }
    }
</script>

<style lang="scss">
@import './../../assets/styles/variables.scss';
 .v-catalog-item{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-wrap: nowrap;
    box-shadow:  2 2 8px 2 #e0e0e0;
    padding: $padding * 2;
    margin-bottom: $margin * 2;
    background-color: gray;
    color: #fff;
    font-size: 20px;
    &__image{
        width: 210px;
        height: 150px;
        padding: 0;
        margin: 20px 0;
    }
    &__desc{
        font-size: 13px;
    }
 }
</style>