<template>
    <div class="v-catalog">
        <div class="v-catalog__top">
            <h1>Catalog</h1>
            <v-select
                :selected="selected"
                :options="categories"
                @select="sortByCategories"
                style="margin-top: 20px;"
            />
        </div>
        
        <div class="v-catalog__list">
            <v-catalog-item
                v-for="product in filteredProducts"
                :key="product.article"
                :product_data="product"
                @addToCart="addToCart"
            />

        </div>

    </div>
</template>

<script>
    import vCatalogItem from './v-catalog-item.vue';
    import {mapActions, mapGetters} from 'vuex';
    import vSelect from './../v-select.vue';

    export default{
        name: "v-catalog",
        components:{
            vCatalogItem,
            vSelect
        },
        props: {},
        data(){
            return{
                categories: [
                    {name: 'Все', value: 'ALL'},
                    {name: '4 GB', value: '4'},
                    {name: '8 GB', value: '8'},
                    {name: '16 GB', value: '16'}
                ],
                selected: 'Все',
                sortedProducts: [],
            }
        },
        computed:{
            ...mapGetters([
                'PRODUCTS',
                'CART'
            ]),
            filteredProducts(){
                if (this.sortedProducts.length) {
                    return this.sortedProducts
                } else {
                    return this.PRODUCTS
                }
            }
        },
        methods:{
            ...mapActions([
                'GET_PRODUCTS_FROM_API',
                'ADD_TO_CART'
            ]),
            addToCart(data){
                this.ADD_TO_CART(data)
            },
            sortByCategories(category) {
                this.sortedProducts= [];
                this.PRODUCTS.map(item => {
                    if (item.category === category.name) {
                        this.selected = category.name
                        this.sortedProducts.push(item)
                    }
                })
            }   
        },
        mounted() {
            this.GET_PRODUCTS_FROM_API()

        }
    }
</script>

<style lang="scss">
@import './../../assets/styles/variables.scss';
    .v-catalog {
        &__list{
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            align-items:center;
        }
        &__link_to_cart{
            position: absolute;
            top: 110px;
            right: 10px;
            padding: $padding * 2;
            border: 1px solid #aeaeae;
        }
        &__top{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

</style>