<template>
    <div class="popup_wrapper" ref="popup_wrapper">
      <div class='v-popup'>
        <div class="v-popup__header">
          <span>{{popupTitle}}</span>
          <span>
          <i
              class="close_btn"
              @click="closePopup"
          >
            X
          </i>
        </span>
        </div>
        <div class="v-popup__content">
          <slot></slot>
        </div>
      </div>
    </div>
  </template>
  
  <script>
    export default {
      name: "v-popup",
      props: {
        popupTitle: {
          type: String,
          default: 'Popup name'
        },
        rightBtnTitle: {
          type: String,
          default: 'Ok'
        }
      },
      data() {
        return {}
      },
      methods: {
        rightBtnAction() {
          this.$emit('rightBtnAction')
        },
        closePopup() {
          this.$emit('closePopup')
        }
      },
      mounted() {
        let vm = this;
        document.addEventListener('click', function (item) {
          if (item.target === vm.$refs['popup_wrapper']) {
            vm.closePopup()
          }
        })
      },
    }
  </script>
  
  <style lang="scss">
    .popup_wrapper {
      background: rgba(64,64,64, .4);
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      color: #fff;
      text-shadow: 0 0 2px white;
    }
    .v-popup {
      padding: 16px;
      position: fixed;
      top: 200px;
      width: 375px;
      background-color: red;
      box-shadow: 0 0 17px 0 #e7e7e7;
      z-index: 10;
      &__header, &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .close_btn{
        cursor: pointer;
        font-weight: 600;
        font-style: normal;
    }
  </style>