<template>
    <div class="v-footer">
        <p>АЙРОН БАЙДЕН | 2023</p>
    </div>
</template>

<script>

</script>

<style lang="scss">
@import './../../assets/styles/variables.scss';

    .v-footer{
        width: 100%;
        height: 22px;
        background: rgb(2,0,36);
        background: rgba(125,125,125,1);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }
</style>