<template>
    <div class="v-header">
        <router-link :to="{name: 'catalog'}">
                <img src="./../../assets/images/logo.png" class="logo" style="width: 160px; height: 150px; margin-left: 20px;">
            
        </router-link>
        <div class="v-header__menu_wrapper">
            <router-link :to="{name: 'catalog'}">
                <div class="v-header__menu_point">Каталог</div>
            </router-link>
            <router-link :to="{name: 'cart', param: {cart_data: CART}}">
                <div class="v-header__menu_point">Cart: {{CART.length}}</div>
            </router-link>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
export default {
    name: 'v-header',
    props: {},
        data(){
            return {
                
            }
        },
        computed:{
            ...mapGetters([
                'PRODUCTS',
                'CART',
            ]),
        },
        methods:{
        },
}

</script>

<style lang="scss">
    .logo{
        margin-top:10px;
        width: 250px;
    }
    .v-header{
        width: 100%;
        height: 100px;
        background: rgb(2,0,36);
        background: rgba(125,125,125,1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial;
        &__logo{
            font-size: 35px;
            font-weight: 600;
            color: #fff;
        }
        &__menu_wrapper{
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__menu_point{
            margin-right: 25px;
            font-size: 25px;
            font-weight: 400;
            color: #fff;
        }
    }
</style>