<template>
  <div id="app">
    <v-header/>
    <v-main-wrapper />
    <v-footer />
  </div>
</template>

<script>
import vMainWrapper from './components/v-main-wrapper.vue'
import vHeader from './components/html/v-header.vue'
import vFooter from './components/html/v-footer.vue'

export default {
  name: 'App',
  components: {
    vHeader,
    vMainWrapper,
    vFooter
  },
  data(){
    return{
    }
  }
}
</script>


<style lang="scss">
#app {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
