@import 'variables.scss';

*{
    margin:0;
    padding: 0;
}
.btn{
    cursor: pointer;
    padding : $padding $padding*2;
    background-color: rgb(58, 91, 236);
    color: #fff;
    border:none;
}
.active {
    color:aqua;
}
h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
}